<% include ../layouts/admin_header.ejs %>
    <h2 class="page-title">Add a product</h2>
    <a href="/admin/products" class="btn btn-primary" style="margin: 20px 0 20px 0;">List product</a>
    <% if(errors.length>0){ %>
        <% errors.forEach((err)=>{%>
            <div class="alert alert-danger"><%= err.msg %></div>
        <% }) %>
    <% } %>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%=message[0] %></div>
    <% } %>
    <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Name:</label>
            <input type="text" name="title" class="form-control" placeholder="Title" autocomplete="off" id="title">
        </div>
        <div class="form-group">
            <label for="desc">Description:</label>
            <textarea name="desc" cols="30" rows="5" class="form-control" placeholder="Description" id="desc"></textarea>
        </div>
        <div class="form-group">
            <label for="cat">Category:</label>
            <select name="category" class="form-control" id="cat">
                    <% if(categories.length>0){ %>
                        <% categories.forEach((category)=>{%>
                            <option value="<%= category.slug %>"><%= category.title %></option>
                        <% }) %>
                    <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" name="price" class="form-control" placeholder="Price" autocomplete="off" id="price">
        </div>
        <div class="form-group">
            <label for="img">Image:</label>
            <input type="file" name="image" class="form-control-file border" id="img" onchange="onFileSelected(event)">
            <img src="#" alt="" id="imgPreview" style="width: 200px; height: 150px;">
        </div>
        <input type="submit" class="btn btn-submit" value="Submit">
    </form>
    <script>
        function onFileSelected(event) {
            var selectedFile = event.target.files[0];
            var reader = new FileReader();

            var imgtag = document.getElementById("imgPreview");
            imgtag.title = selectedFile.name;

            reader.onload = function(event) {
                imgtag.src = event.target.result;
            };

            reader.readAsDataURL(selectedFile);
        }
    </script>
<% include ../layouts/admin_footer.ejs %>
